<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.shxt.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.shxt.core.Perspective"
            id="rcpyingyuanxitong.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.shxt.view.ViewMenu"
            id="cn.com.shxt.view.ViewMenu"
            name="菜单界面">
      </view>
      <view
            class="cn.com.shxt.view.ViewWelcome"
            id="cn.com.shxt.view.ViewWelcome"
            name="欢迎界面">
      </view>
      <view
            class="cn.com.shxt.view.addmovietype"
            id="cn.com.shxt.view.addmovietype"
            name="添加电影类型">
      </view>
      <view
            class="cn.com.shxt.view.Viewmovie"
            id="cn.com.shxt.view.Viewmovie"
            name="添加电影">
      </view>
      <view
            class="cn.com.shxt.view.Search"
            id="cn.com.shxt.view.Search"
            name="查询电影">
      </view>
      <view
            class="cn.com.shxt.view.Searchmovie"
            id="cn.com.shxt.view.Searchmovie"
            name="查询影片">
      </view>
      <view
            class="cn.com.shxt.view.chaxun"
            id="cn.com.shxt.view.chaxun"
            name="查询电影">
      </view>
      <view
            class="cn.com.shxt.view.chaxundianying"
            id="cn.com.shxt.view.chaxundianying"
            name="查询电影">
      </view>
      <view
            class="cn.com.shxt.view.AddMovie"
            id="cn.com.shxt.view.AddMovie"
            name="添加电影">
      </view>
      <view
            class="cn.com.shxt.view.AddMovie"
            id="cn.com.shxt.view.AddMovie"
            name="影片添加">
      </view>
      <view
            class="cn.com.shxt.view.MovieSet"
            id="cn.com.shxt.view.MovieSet"
            name="影片编辑">
      </view>
      <view
            class="cn.com.shxt.view.SearchMovie"
            id="cn.com.shxt.view.SearchMovie"
            name="查看影片">
      </view>
      <view
            class="cn.com.shxt.view.AddShowRoom"
            id="cn.com.shxt.view.AddShowRoom"
            name="添加放映厅">
      </view>
      <view
            class="cn.com.shxt.view.AddShowRoom"
            id="cn.com.shxt.view.AddShowRoom"
            name="添加放映厅">
      </view>
      <view
            class="cn.com.shxt.view.ShowImgMovie"
            id="cn.com.shxt.view.ShowImgMovie"
            name="图片形式显示电影">
      </view>
      <view
            class="cn.com.shxt.view.ShangyingMovie"
            id="cn.com.shxt.view.ShangyingMovie"
            name="上映影片">
      </view>
      <view
            class="cn.com.shxt.view.ShowImgmovie"
            id="cn.com.shxt.view.ShowImgmovie"
            name="以图片形式查看">
      </view>
      <view
            class="cn.com.shxt.view.SearchShowRoom"
            id="cn.com.shxt.view.SearchShowRoom"
            name="查看放映厅">
      </view>
      <view
            class="cn.com.shxt.view.SellTiket"
            id="cn.com.shxt.view.SellTiket"
            name="售票">
      </view>
      <view
            class="cn.com.shxt.view.TuiPiao"
            id="cn.com.shxt.view.TuiPiao"
            name="退票界面">
      </view>
      <view
            class="cn.com.shxt.view.AdminView"
            id="cn.com.shxt.view.AdminView"
            name="管理员登录界面">
      </view>
      <view
            class="cn.com.shxt.view.SearchMovieImg"
            id="cn.com.shxt.view.SearchMovieImg"
            name="以图片形式查看电影">
      </view>
      <view
            class="cn.com.shxt.view.VIP"
            id="cn.com.shxt.view.VIP"
            name="VIP登录界面">
      </view>
      <view
            class="cn.com.shxt.view.JinDu"
            id="cn.com.shxt.view.JinDu"
            name="进度条">
      </view>
   </extension>

</plugin>
